body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

ul li {
    list-style: none;
    /*tirando a bolinha da LI que vem por padrão*/
}

a {
    text-decoration: none;
    color: #fff;
}

.nav {
    width: 100%;
    height: auto;
    float: left;
}

.container {
    display: block;
    width: 1050px;
    margin: 0 auto;
}

.fluid {
    width: 1050px;
    height: auto;
    float: left;
}

.left {
    float: left;
}

.right {
    float: right;
}

.menu {
    background-color: #000;
}

.menu .container .fluid .menu-site {
    display: -webkit-inline-box;
    margin-left: 270px;
}

.menu .container .fluid .menu-site li {
    padding-right: 70px;
}

.menu .container .fluid .menu-site a {
    text-transform: uppercase;
}

.resumo {
    background: #161415 url(../img/header-background.jpg) top center;
    position: relative;
    width: 100%;
    height: 1000px;
    min-height: 500px;
    text-align: center;
    overflow: hidden;
}

.resumo .container .fluid .cabecalho {
    text-align: center;
    padding-top: 250px;
    color: #fff;
    font-size: 30px;
}

.intro {
    background-color: #2B2B2B;
}

.linha-baixo {
    border: solid #E3E3E3;
    border-width: 1px 0 0;
    clear: both;
}