        @media (max-width: 1220px) and (min-width: 901px) {
            .container,
            .fluid {
                width: 794px;
            }
            .left * {
                font-size: 25px;
            }
            .right * {
                font-size: 25px;
            }
            .menu .container .fluid .menu-principal {
                margin-left: 80px;
            }
            .resumo .container .fluid .left h1 {
                font-size: 50px;
            }
            .resumo .container .fluid .social {
                width: 729px;
                margin-left: 30px;
            }
            .rodape .container .fluid .atalho a {
                font-size: 20px;
            }
            .rodape .container .fluid .contato {
                margin-top: 75px;
            }
        }
        
        @media (max-width: 899px) and (min-width: 781px) {
            .container,
            .fluid {
                width: 760px;
            }
            .left * {
                font-size: 25px;
            }
            .right * {
                font-size: 25px;
            }
            .sub-titulo {
                font-size: 16px;
            }
            .menu .container .fluid .menu-principal {
                margin-left: 10%;
            }
            .resumo .container .fluid .left h1 {
                font-size: 35px;
            }
            .resumo .container .fluid .social {
                width: 90%;
                margin-left: 30px;
            }
            .intro .container .fluid .img img {
                width: 100px;
                margin-left: 0px;
            }
            .skill .container .fluid .skill-desc .lista-progress {
                margin: 60px 0 50px 0;
            }
            .skill .container .fluid .skill-desc .lista-progress li {
                float: none;
            }
            .skill .container .fluid .skill-desc .lista-progress .progress-bar {
                width: 590px;
            }
            .rodape .container .fluid .atalho li {
                margin-bottom: -13px;
            }
            .rodape .container .fluid .contato {
                margin-top: 60px;
            }
            .rodape .container .fluid .contato h2 {
                margin-bottom: 10px;
            }
            .rodape .container .fluid .atalho a,
            .rodape .container .fluid .contato,
            .rodape .container .fluid .direitos p {
                font-size: 15px;
            }
            .rodape .container .fluid .contato img {
                margin: 0 5px 5px 0;
                width: 22px;
                height: 22px;
            }
        }
        
        @media (max-width: 600px) {
            .barra-nav {
                background: #f0f0f0;
                padding: 1em;
                margin: 0;
                height: 100%;
                width: 90%;
                max-width: 320px;
                position: fixed;
                z-index: 1;
                top: 0;
                left: -90%;
                transition: left 0.3s ease-out;
            }
            .menu-ativo .barra-nav {
                left: 0;
            }
            .menu-principal li {
                padding: 1em 0;
                width: 100%;
            }
            .menu-ativo:after {
                content: "";
                display: block;
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: rgba(0, 0, 0, 0.4);
            }
        }
        
        @media not all and (max-width: 600px) {
            .menu-abrir,
            .menu-fechar {
                display: none;
            }
        }
        /*@media (max-width: 540px) {
            .container,
            .fluid {
                width: 420px;
            }
            .left * {
                font-size: 20px;
            }
            .sub-titulo {
                font-size: 20px;
            }
            .resumo .container .fluid .left h1 {
                font-size: 20px;
            }
            .skill .container .fluid .skill-desc .lista-progress li {
                width: 100%;
                float: none;
            }
        }*/