    @media (max-width: 1220px) and (min-width: 901px) {
        .container,
        .fluid {
            width: 970px;
        }
        .left * {
            font-size: 20px;
        }
        .right * {
            font-size: 20px;
        }
        .menu .container .fluid .menu-site {
            margin-left: 160px;
        }
        .resumo .container .fluid .left h1 {
            font-size: 40px;
        }
    }
    
    @media (max-width: 900px) {
        .container,
        .fluid {
            width: 800px;
        }
    }
    
    @media (max-width: 899px) and (min-width: 781px) {
        .container,
        .fluid {
            width: 760px;
        }
        .left * {
            font-size: 25px;
        }
        .right * {
            font-size: 25px;
        }
        .sub-titulo {
            font-size: 16px;
        }
        .menu .container .fluid .menu-site {
            margin-left: 10%;
        }
        .resumo .container .fluid .left h1 {
            font-size: 35px;
        }
        .resumo .container .fluid .social {
            width: 90%;
            margin-left: 30px;
        }
        .intro .container .fluid .img img {
            width: 100px;
        }
        .skill .container .fluid .skill-desc .lista-progress {
            margin-bottom: 40px;
        }
        .skill .container .fluid .skill-desc .lista-progress li {
            float: none;
        }
        .skill .container .fluid .skill-desc .lista-progress .progress-bar {
            width: 590px;
        }
        .rodape .container .fluid .atalho a {
            font-size: 20px;
        }
    }
    
    @media (max-width: 640px) and (min-width: 541px) {
        .container,
        .fluid {
            width: 520px;
        }
    }
    
    @media (max-width: 540px) {
        .container,
        .fluid {
            width: 420px;
        }
        .left * {
            font-size: 20px;
        }
        .sub-titulo {
            font-size: 20px;
        }
        .resumo .container .fluid .left h1 {
            font-size: 20px;
        }
        .skill .container .fluid .skill-desc .lista-progress li {
            width: 100%;
            float: none;
        }
    }